@use '~/assets/css/fluid-length' as f;

:root {
  --color-primary: 32 41 89;
  --color-secondary: 231 235 253;
  --color-tertiary: 159 168 214;
  --color-white: 255 255 255;
  --font-main: 'Libre Baskerville', serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  color: rgb(var(--color-primary));
}

body * {
  box-sizing: border-box;
}

.t-1 {
  font-size: f.fluid-length(1.75, 4);
  line-height: f.fluid-length(2.25, 5);
}

.t-2 {
  font-size: f.fluid-length(1.5, 3);
  line-height: f.fluid-length(1.875, 3.75);
}

.t-3 {
  font-size: f.fluid-length(1, 1.5);
  line-height: 1.3;
}

.t-body {
  font-size: f.fluid-length(1, 1.25);
  line-height: 1.75;
}

.t-body-small {
  font-size: f.fluid-length(1, 1);
  line-height: 1.75;
}

.t-center {
  text-align: center;
}

.t-bold {
  font-weight: bold;
}

.section {
  display: flex;
  flex-direction: column;
  gap: f.fluid-length(1.5, 6);
  padding: f.fluid-length(4, 8) f.fluid-length(1, 4);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
